<div class="row" ng-controller="FriendsController">
<!-- 
{{friends}}
-->
<h2 class="center">Welcome to Yo Schedule Services
</h2>


<!-- <div class="row">
<div class="input-field col s12 m6 l3">
<a onclick="Materialize.toast('Welcome Facebook User', 4000)" class="btn waves-effect waves-light blue" href="/auth/facebook" ><i class="material-icons left">account_circle</i>Facebook Login</a>
</div>
</div> -->

<!-- 		
	<div class="divider"></div>
	<div class="divider"></div>
	<div class="divider"></div>
	<div class="divider"></div>
	<div class="divider"></div>
-->
	
<div class="row">
	<div class="input-field col s12 m8 l3">
		<h4 class="left">local login</h4>
	</div>

	<div class="input-field col s12 m6 l3">	

		<i class="material-icons prefix">account_circle</i>
		<input id='uname' type="text" ng-model="new_friend.username">
		<label for='uname'>User Name</label>
	</div>

	<div class="input-field col s12 m6 l3">
		<i class="material-icons prefix">lock</i>
		<input id='upass' type="password" ng-model="new_friend.password">
		<label for='upass'>Password</label>
	</div>

	<div class="input-field col s12 m6 l3">
		<button onclick="Materialize.toast('Welcome Local User', 4000)" ng-click="login()" class="btn waves-effect waves-light green" type="submit" name="action">Login
			<i class="material-icons left">send</i></button>
	</div>
</div><!--ends row -->
</div><!--ends row friendcontroller -->